---
layout: false
permalink: /docs/index.html
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url=/docs/{{ docVersions.latest }}/">
  <link rel="canonical" href="/docs/{{ docVersions.latest }}/">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/docs/{{ docVersions.latest }}/">latest documentation</a>...</p>
</body>
</html>
