<header class="border-b flex items-center gap-x-4 py-2 px-4 lg:py-3 lg:px-6 mx-auto sticky top-0 w-full bg-background z-50">
  <a class="inline-flex items-center" href="/">
    <img src="/media/commandbridge-min.png" alt="CommandBridge Logo" class="max-sm:h-4 max-sm:w-4 h-5 w-5" />
    <span class="hidden sm:inline-block ml-2 text-sm font-semibold">CommandBridge</span>
  </a>
  <a class="ml-auto text-sm font-medium text-muted-foreground hover:text-primary {{ '!text-primary font-medium' if page.url == '/' }}" href="/">
    About
  </a>
  <a class="text-sm font-medium text-muted-foreground hover:text-primary {{ '!text-primary' if '/docs' in page.url }}" href="/docs">
    Docs
  </a>



<div class="h-4 w-px bg-border mx-2"></div>

  <a class="flex gap-x-1 items-center text-sm font-medium text-muted-foreground hover:text-primary" href="https://github.com/objz/CommandBridge" target="_blank">
    GitHub
    {% lucide "arrow-up-right", { "class" : "h-3 w-3" } %}
  </a>
  <a class="flex gap-x-1 items-center text-sm font-medium text-muted-foreground hover:text-primary" href="https://discord.gg/QPqBYb44ce" target="_blank">
    Discord
    {% lucide "arrow-up-right", { "class" : "h-3 w-3" } %}
  </a>

<a class="button-outline !h-8 inline-flex items-center" href="https://modrinth.com/plugin/commandbridge#download">
  <span>Download</span>
  <span class="ml-1">{% lucide "download", { "class" : "h-3 w-3" } %}</span>
</a>

</header>
